@use "variables" as *;
body {
  font-family: "Manrope", sans-serif;
  font-size: $font-paragraph;
  font-weight: 500;
  background-color: $light-grayish-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 41.6875rem;
  padding: 0 1.5rem;

  main {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 0.625rem;
  }

  p {
    line-height: calc(20 / 13);
    letter-spacing: calc(0.12 / 13 * 1em);
    color: $desaturated-dark-blue;
  }
  h1 {
    line-height: 1.5;
    letter-spacing: 0.0125em;
    font-size: $font-heading-mobile;
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }
  .share-icon-container {
    height: 2rem;
    width: 2rem;
    background-color: $light-grayish-blue;
    color: $very-dark-grayish-blue;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tooltip {
    background-color: $very-dark-grayish-blue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 2rem;
    border-radius: 0 0 0.625rem 0.625rem;

    .social-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10.9375rem;
      padding-left: 0.5rem;
    }

    p {
      letter-spacing: 0.3125rem;
      color: $grayish-blue;
      font-size: $font-paragraph;
    }

    .share-icon-container {
      background-color: $desaturated-dark-blue;
      color: white;
    }
  }
}

.tooltip.hidden {
  display: none;
}
.share-icon-container.active {
  background-color: $desaturated-dark-blue;
  color: white;
}

.share-icon-container,
.social {
  &:hover {
    border-radius: 1rem;
    cursor: pointer;
    background-color: $desaturated-dark-blue;
    color: white;
  }
}
