@use "variables" as *;

@media (min-width: 55rem) {
  body {
    min-height: 50rem;
  }

  main {
    flex-direction: row;
    max-width: 45.625rem;
    max-height: 17.5rem;

    > figure {
      flex: 1 1 39.04%;
      max-height: 100%;
      overflow: hidden;
      border-radius: 0.625rem 0 0 0.625rem;
      img {
        object-position: left;
      }
    }
    > section {
      flex: 1 1 60.96%;
      padding: 2.0625rem 2.5rem;
      border-radius: 0 0.625rem 0.625rem 0;

      h1 {
        line-height: 1.4;
        font-size: $font-heading-desktop;
      }
    }
    .tooltip {
      position: absolute;
      bottom: 6rem;
      left: 34.345rem;
      padding: 0 2rem;
      border-radius: 0.625rem;
      height: 3.4375rem;
      width: 15.5rem;
      justify-content: center;

      .social-links {
        justify-content: space-between;
      }
      .share-icon-container {
        display: none;
      }
      .triangle {
        display: block;
      }
    }
  }
}

.triangle {
  position: absolute;
  width: 1.5rem;
  bottom: -1.35rem;
  left: 6.875rem;
  fill: hsl(217, 19%, 35%);
}
