article {
  display: flex;
  flex-direction: column;
  max-width: 20.4375rem;
  position: relative;

  > figure {
    overflow: hidden;
    border-radius: 0.625rem 0.625rem 0 0;

    max-height: 12.5rem;
    flex: 200;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  section {
    padding: 2rem 2rem 1.5rem;
    border-radius: 0 0 0.625rem 0.625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.1875rem;
    flex: 312;
    background-color: white;

    hgroup {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .tooltip {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .triangle {
      display: none;
    }

    figure {
      display: flex;
      align-items: center;
      gap: 1rem;

      > img {
        height: 2.5rem;
        border-radius: 5rem;
      }

      .name {
        font-weight: 700;
      }
    }
  }
}
