// Some colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// font sizes
$font-base: 16px;
$font-paragraph: 0.8125rem;
$font-heading-desktop: 1.25rem;
$font-heading-mobile: 1rem;
