*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg,
picture {
  display: block;
}

button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 41.6875rem;
  padding: 0 1.5rem;
}
body p {
  line-height: 1.5384615385;
  letter-spacing: 0.0092307692em;
  color: hsl(214, 17%, 51%);
}
body h1 {
  line-height: 1.5;
  letter-spacing: 0.0125em;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
body .share-icon-container {
  height: 2rem;
  width: 2rem;
  background-color: hsl(210, 46%, 95%);
  color: hsl(217, 19%, 35%);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .tooltip {
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 2rem;
  border-radius: 0 0 0.625rem 0.625rem;
}
body .tooltip .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.9375rem;
  padding-left: 0.5rem;
}
body .tooltip p {
  letter-spacing: 0.3125rem;
  color: hsl(212, 23%, 69%);
  font-size: 0.8125rem;
}
body .tooltip .share-icon-container {
  background-color: hsl(214, 17%, 51%);
  color: white;
}

.hidden {
  display: none !important;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 20.4375rem;
  position: relative;
}
article > figure {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
  max-height: 12.5rem;
  flex: 200;
}
article > figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
article section {
  padding: 2rem 2rem 1.5rem;
  border-radius: 0 0 0.625rem 0.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
  flex: 312;
  background-color: white;
}
article section hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
article section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article section .tooltip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article section figure {
  display: flex;
  align-items: center;
  gap: 1rem;
}
article section figure > img {
  height: 2.5rem;
  border-radius: 5rem;
}
article section figure .name {
  font-weight: 700;
}

@media (min-width: 55rem) {
  body {
    min-height: 50rem;
  }
  article {
    flex-direction: row;
    max-width: 45.625rem;
    max-height: 17.5rem;
  }
  article > figure {
    flex: 1 1 39.04%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 0.625rem 0 0 0.625rem;
  }
  article > figure img {
    -o-object-position: left;
       object-position: left;
  }
  article > section {
    flex: 1 1 60.96%;
    padding: 2.0625rem 2.5rem;
    border-radius: 0 0.625rem 0.625rem 0;
  }
  article > section h1 {
    line-height: 1.4;
    font-size: 1.25rem;
  }
  article .tooltip {
    position: absolute;
    bottom: 6rem;
    left: 34.345rem;
    padding: 0 2rem;
    border-radius: 0.625rem;
    height: 3.4375rem;
    width: 15.5rem;
    justify-content: center;
  }
  article .tooltip .social-links {
    justify-content: space-between;
  }
  article .tooltip .share-icon-container {
    display: none;
  }
}
.triangle {
  position: absolute;
  width: 1.5rem;
  bottom: -1.35rem;
  left: 6.875rem;
  fill: hsl(217, 19%, 35%);
}/*# sourceMappingURL=index.css.map */